[Unit]
Description=Tildes MC Website
After=network.target

[Service]
Type=simple
User=web
Group=web
WorkingDirectory=/home/web/app
Environment=NODE_ENV=production
Environment=PORT=3000
Environment=RCON_HOST=localhost
Environment=RCON_PORT=25575
Environment=RCON_PASSWORD=password
Environment=USERNAME_SECRET=6beb14e590ae4f2782a629eb127f07b3
ExecStart=/usr/bin/node /home/web/app/.next/standalone/server.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nextjs

[Install]
WantedBy=multi-user.target
