#!/bin/bash
set -euo pipefail
shopt -s globstar

cd "$( dirname -- "$0" )/.."

RCON="scripts/rcon.py"

function cleanup {
    $RCON 'save-on'
    # Delete old backups
    local retention_days='2'
    find backups -name "backup-*.tar.gz" -type f -mtime +"$(expr $retention_days - 1)" -delete
}
trap cleanup EXIT

$RCON 'save-all'
sleep 3

$RCON 'save-off'
sleep 3

mkdir -p backups
TIMESTAMP=$(date '+%Y%m%d-%H-%M-%S')
tar -czf backups/backup-${TIMESTAMP}.tar.gz \
    config/ \
    plugins/*.jar \
    plugins/**/*.txt \
    plugins/**/*.yml \
    plugins/**/*.json \
    plugins/**/*.conf \
    plugins/**/*.db \
    scripts/ \
    world/ \
    world_nether/ \
    world_the_end/ \
    banned-ips.json \
    banned-players.json \
    bukkit.yml \
    ops.json \
    paper.jar \
    server-icon.png \
    server.properties \
    spigot.yml \
    whitelist.json
