#!/bin/bash

export RCON_PASSWORD="{{ vault_rcon_password }}"
"$( dirname -- "$0" )/rcon.py" 'stop'

# Wait for Minecraft to terminate
while pgrep -u {{ minecraft_user }} -f paper.jar > /dev/null; do
	sleep 1
done
