---
- name: Install common packages
  ansible.builtin.apt:
    name:
      - tmux
      - curl
      - wget
      - unzip
      - tar
      - python3
      - rsync
      - acl
      - gnupg
      - ca-certificates
      - cron
    state: present
    update_cache: true
    cache_valid_time: 3600
