---
- name: Install ufw
  ansible.builtin.apt:
    name: ufw
    state: present

- name: Set ufw default deny incoming
  community.general.ufw:
    direction: incoming
    default: deny

- name: Set ufw default allow outgoing
  community.general.ufw:
    direction: outgoing
    default: allow

- name: Allow incoming traffic
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
    - { port: "22", proto: tcp }
    - { port: "80", proto: tcp }
    - { port: "443", proto: tcp }
    - { port: "{{ minecraft_port | string }}", proto: tcp }

- name: Enable ufw
  community.general.ufw:
    state: enabled
