---
- name: Add NodeSource repository
  ansible.builtin.deb822_repository:
    name: nodesource
    uris: "https://deb.nodesource.com/node_{{ node_major_version }}.x"
    suites: nodistro
    components: main
    signed_by: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
    state: present

- name: Install Node.js
  ansible.builtin.apt:
    name: nodejs
    state: present
    update_cache: true

- name: Enable corepack
  ansible.builtin.command:
    cmd: corepack enable
  changed_when: false
