[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{ minecraft_user }}
Type=forking
Environment=MEM={{ minecraft_memory }}
Environment=RCON_PASSWORD={{ vault_rcon_password }}
ExecStart=/usr/bin/tmux new-session -d -s {{ minecraft_tmux_session }} -c {{ minecraft_app_dir }} scripts/start.sh
ExecStop={{ minecraft_app_dir }}/scripts/stop.sh
NotifyAccess=all
Restart=always

[Install]
WantedBy=multi-user.target
