---
- name: Deploy minecraft systemd service
  ansible.builtin.template:
    src: minecraft.service.j2
    dest: /etc/systemd/system/minecraft.service
    owner: root
    group: root
    mode: "0644"
  notify: restart minecraft

- name: Deploy minecraft sudoers rule
  ansible.builtin.template:
    src: minecraft-sudoers.j2
    dest: /etc/sudoers.d/minecraft
    owner: root
    group: root
    mode: "0440"
    validate: "visudo -cf %s"

- name: Include deploy tasks
  ansible.builtin.include_tasks: deploy.yml

- name: Deploy minecraft crontab
  ansible.builtin.template:
    src: minecraft-cron.j2
    dest: "/var/spool/cron/crontabs/{{ minecraft_user }}"
    owner: root
    group: crontab
    mode: "0600"

- name: Enable minecraft service
  ansible.builtin.systemd:
    name: minecraft
    enabled: true
    daemon_reload: true
