/backups/
/versions/
/cache/
/crash-reports/
/libraries/
/logs/
/bluemap/

# World data
/world/advancements/
/world/data/
/world/entities/
/world/playerdata/
/world/poi/
/world/region/
/world/stats/
/world/*.*
/world_nether/
/world_the_end/

# Server runtime files
/banned-ips.json
/banned-players.json
/ops.json
/whitelist.json
/commands.txt
/commands.yml
/wepif.yml

# Plugin runtime data
/plugins/**/tmp/
/plugins/**/*.db
/plugins/**/*.log
/plugins/spark/
/plugins/BlueMap/maps/
/plugins/HexNicks/logs/
/plugins/HexNicks/nicknames.json
/plugins/LuckPerms/editor-keystore.json
/plugins/LuckPerms/json-storage/
/plugins/WorldEdit/sessions/

# Scripts runtime data
/scripts/stats.db
